body{
  font-family: Gilroy;
}
.first {
  text-align: center;
  font-family: Gilroy;
  border: 1px solid;
  align-items: center;
  /* height:600px; */
  width:30%;
  margin: auto;
}
.heading2{ 
  height: 30px;
  text-align: center;  
}
.para {   
  height: 60px;
  font-size: 10px;  
  align-items: center;
  margin-top: 2px;    
}
.head {  
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;  
}
.btn{
  height: 40px;
  width: 130%;
  border-radius: 1rem;  
 }
.starter{ 
  display: flex;  
  justify-content: space-evenly;
}
.stname {
  justify-content: space-evenly;
}
.yello-Back {
  background-color: #ffd504 ;
  color: black;
}
.yello1 {
  border-bottom: 3px solid #ffd504 ;
}

.item1 {
  border: solid 3px #ffd504;
  border-radius: 1rem;
  margin: 10px;
  display: flex;
  margin-right: 20px;
}
.top h3{
  margin-left: 0px;
}
.price{
  margin-top: 30px;
}
